components:
  schemas:
    UserSerializer:
      properties:
        username:
          type: string
        firstName:
          type: string
        lastName:
          format: uuid
          type: string
        telephone:
          format: uuid
          type: string
        email:
          type: string
        userAddress:
          $ref: "#/components/schemas/UserAddressEntity"
          type: object
          minProperties: 1
          not:
            type: "null"
      type: object
      required:
        - username
        - firstName
        - lastName
        - telephone
        - email
        - userAddress
    CreateProductSchema:
      properties:
        name:
          type: string
        descr:
          type: string
        categoryId:
          format: uuid
          type: string
        inventoryId:
          format: uuid
          type: string
        price:
          type: number
        sku:
          type: string
        discountId:
          format: uuid
          type: string
      type: object
      required:
        - name
        - descr
        - categoryId
        - inventoryId
        - price
        - sku
    CreateUserSchema:
      properties:
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        password:
          type: string
        telephone:
          type: string
        mobile:
          type: string
        email:
          type: string
        userAddress:
          $ref: "#/components/schemas/UserAddressEntity"
          type: object
          minProperties: 1
          not:
            type: "null"
      type: object
      required:
        - username
        - firstName
        - lastName
        - password
        - telephone
        - mobile
        - email
        - userAddress
    LoginSchema:
      properties:
        username:
          type: string
        password:
          type: string
      type: object
      required:
        - username
        - password
    PaginationSchema:
      properties:
        page:
          minimum: 1
          type: number
        size:
          type: number
          minimum: 1
      type: object
      required:
        - page
        - size
    UserAdressSchema:
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        postalCode:
          type: string
        country:
          type: string
      type: object
      required:
        - addressLine1
        - addressLine2
        - city
        - postalCode
        - country
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
info:
  title: ECCOMERCE API
  version: 1.0.0
  description: This project is amateur eccommerce
openapi: 3.0.0
paths:
  /category:
    get:
      operationId: Category.list
      parameters:
        - in: query
          name: page
          required: true
          schema:
            minimum: 1
            type: number
        - in: query
          name: size
          required: true
          schema:
            type: number
            minimum: 1
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: List Category
      tags:
        - Category
      description: This route list category
  /health:
    get:
      operationId: Health.getHealth
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Server Health
      tags:
        - Health
      description: This is to check if server is running
  /product:
    get:
      operationId: Product.listProducts
      parameters:
        - in: query
          name: page
          required: true
          schema:
            minimum: 1
            type: number
        - in: query
          name: size
          required: true
          schema:
            type: number
            minimum: 1
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: List products
      tags:
        - Product
      description: This route list products
    post:
      operationId: Product.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProductSchema"
        description: CreateProductSchema
        required: false
      responses:
        "200":
          content:
            application/json: {}
          description: Successful response
      summary: Create products
      tags:
        - Product
      description: This route create a product
  /register:
    post:
      operationId: User.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserSchema"
        description: CreateUserSchema
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSerializer"
          description: ""
      summary: Create user
      tags:
        - User
      description: Create user
  /login:
    post:
      operationId: User.login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginSchema"
        description: LoginSchema
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSerializer"
          description: ""
      summary: Login
      tags:
        - User
      description: Login route
servers:
  - url: http://localhost:8080
    description: Development
